@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

a {
    all: unset;
    cursor: pointer;
}

.nav {
    height: 10vh;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    width: 100vw;
    background: rgb(66, 36, 25);
    background: linear-gradient(90deg, rgba(66, 36, 25, 1) 7%, rgba(24, 17, 12, 1) 98%);
    border-bottom: white 2px solid;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    color: whitesmoke;
    animation: slideDown 2s ease;
    gap: 35vw;
    /* margin-bottom: 4.2%; */
}

.nav a {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    font-size: 35px;
    justify-content: center;
    cursor: pointer;

}

.nav a::before {
    content: "";
    width: 20px;
    height: 4px;
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background: rgb(22, 153, 22);
    background: linear-gradient(90deg, rgba(22, 153, 22, 1) 36%, rgba(189, 249, 124, 1) 77%);
    position: absolute;
    bottom: -6px;
    transition: width .4s ease-in-out;
}

.nav a:hover::before {
    width: 100%;
}

.nav img {
    display: flex;
    width: auto;
    height: 60px;
    margin-left: 7%;
    cursor: pointer;
}

body {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-image: url(../assets/imagemBody.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 80vw;
    max-width: 100%;
    min-height: 80vh;
    display: flex;
    margin-bottom: 3%;
}

.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    /* margin: 20px 0; */
}

.container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button {
    width: 50%;
    height: 7%;
    background-color: #008000;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    border: 2px #19ba19 solid;
    border-radius: 20px;
    font-family: "Pixelify Sans", sans-serif;
    cursor: pointer;
    outline: none;
}

.container button:hover {
    background-color: #03ac03;
    height: 7.3%;
}

.container button.hidden {
    background-color: transparent;
    border-color: #fff;
}

.container label {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input {
    border: none;
    background-color: transparent;
    border-bottom: 3px solid #008000;
    width: 100%;
    /* margin-bottom: 10%; */
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
    outline: transparent;

}

button:disabled {
    background-color: #333;
    cursor: auto;
    border: white;
    color: gray;
}

button:disabled:hover {
    background-color: #333;
    cursor: auto;
    border: white;
    color: gray;
}

/* Define a estrutura principal do formulário */
.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    /* Aplica uma transição suave a todas as propriedades do container, com duração de 0.6 segundos e função ease-in-out */
}

/* Define o estilo da tela de login */
.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
    /* Define o nível de sobreposição da tela de login como 2, para que fique em cima da tela de cadastro */
}

/* Define o estilo da tela de login quando a classe "active" é aplicada ao container */
.container.active .sign-in {
    transform: translateX(100%);/* Desloca a tela de login 100% para a direita */
}

/* Define o estilo do título principal */
h1 {
    font-size: 60px;
}

/* Define o estilo da tela de cadastro */
.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;/* Define o nível de sobreposição da tela de cadastro como 1, para que fique atrás da tela de login */
}

/* Define o estilo da tela de cadastro quando a classe "active" é aplicada ao container */
.container.active .sign-up {
    transform: translateX(100%);/* Desloca a tela de cadastro 100% para a direita */
    opacity: 1;
    z-index: 5;/* Define o nível de sobreposição da tela de cadastro como 5, para que fique em cima da tela de login */
    animation: move 0.6s;/* Aplica a animação "move" à tela de cadastro, com duração de 0.6 segundos */
}

/* Define a animação "move" */
@keyframes move {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

/* Define o estilo do elemento que controla a transição entre as telas */
.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;/* Oculta qualquer conteúdo que ultrapasse as bordas do elemento */
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    
    z-index: 1000;
    /* Define o nível de sobreposição do elemento como 1000, para que fique em cima de todos os outros elementos */
}

/* Define o estilo do elemento que controla a transição entre as telas quando a classe "active" é aplicada ao container */
.container.active .toggle-container {
    transform: translateX(-100%);/* Desloca o elemento 100% para a esquerda */
    border-radius: 0 150px 100px 0;
}

/* Define o estilo da barra que indica a tela atual */
.toggle {
    height: 100%;
    background: linear-gradient(110.1deg, rgb(34, 126, 34) 2.9%, rgb(168, 251, 60) 90.3%);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);/* Define a posição inicial da barra */
    transition: all 0.6s ease-in-out;/* Aplica uma transição suave*/
}

/* Define o estilo da barra que indica a tela atual quando a classe "active" é aplicada ao container */
.container.active .toggle {
    transform: translateX(50%);/* Desloca a barra 50% para a direita */
}

/* Define o estilo dos painéis de login e cadastro */
.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);/* Define a posição inicial do painel */
    transition: all 0.6s ease-in-out;/* Aplica uma transição suave*/
}

/* Define o estilo do painel de login */
.toggle-left {
    transform: translateX(-200%);/* Desloca o painel de login 200% para a esquerda */
}

/* Define o estilo do painel de login quando a classe "active" é aplicada ao container */
.container.active .toggle-left {
    transform: translateX(0);/* Define a posição inicial do painel de login */
}

/* Define o estilo do painel de cadastro */
.toggle-right {
    right: 0;
    transform: translateX(0); /* Define a posição inicial do painel de cadastro */
}

/* Define o estilo do painel de cadastro quando a classe "active" é aplicada ao container */
.container.active .toggle-right {
    transform: translateX(200%); /* Desloca o painel de cadastro 200% para a esquerda */
}

.loading-div {
    width: 50px;
    display: none;
}

.loading-div img {
    height: 60px;
    width: 60px;
}

#alerta_email,
#alerta_senha,
#alerta_confirme_senha {
    margin-top: -2em;
    display: block;
    width: 100%;
    font-size: 1em;
    color: red;
    margin: -1.3em;
}