@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

a {
    all: unset;
    cursor: pointer;
}

.setinha-direita,
.txt-stardew,
.img-stardew,
.oque-fazer-titulo,
.pesca-img,
.setinha-esquerda,
.pesca-texto-img,
.img-amizade,
.seta-direita,
.seta-esquerda,
.amizade-textos,
.plantacao-textos,
.img-plantacao,
.animais-textos,
.animais-img,
.mineracao-textos,
.mineracao-img,
.explorar-textos,
.img-explorar,
.oque-fazer-titulo,
.oque-fazer-titulo,
.desenvolvedor-img,
.desenvolvedor-textos {
    visibility: hidden;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

nav.menu-lateral {
    width: 70px;
    height: 87.6vh;
    background: linear-gradient(180deg, rgba(66, 36, 25, 1) 7%, rgba(24, 17, 12, 1) 98%);
    padding: 7vh 0 40px 1%;
    box-shadow: 3px 0 0 green;
    overflow: hidden;
    transition: .2s;
}

#logout {
    display: none;
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
}

nav.menu-lateral:hover {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #logout {
        display: flex;
    }

    .btn-expandir {
        display: flex;
        justify-content: space-around;
    }
}



.btn-expandir>span {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul li.item-menu {
    transition: .5s;
}

ul li.item-menu:hover {
    background-color: #026014;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

ul li.item-menu a:hover {
    color: white;
    text-decoration: none;
    font-size: 21px;
    transition: .5s;
    padding: 20px 4%;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

ul li.item-menu a .txt-link {
    margin-left: 40px;
}

ul li.item-menu a .icon>span {
    font-size: 30px;
    margin-left: 0.3rem;
}

body {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-image: url(../assets/imagemBody.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
}

::-webkit-scrollbar {
    display: none;
}

.imagemCentralHome2 {
    width: auto;
    height: 270px;
    animation: slideLeft 2s ease;

}

.fundo {
    background: rgb(244, 212, 151);
    background: linear-gradient(180deg, rgba(244, 212, 151, 1) 40%, rgba(182, 108, 63, 1) 71%);
    height: 100vh;
    width: 100vw;
    border-bottom: 10px white solid;
    display: flex;
    margin-top: -1.2rem;
    align-items: center;
}

.fundo .informacoes-centrais {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100vw;
    gap: 5vw;
}

.fundo .informacoes-centrais .textoCentralHome {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    align-items: center;
    width: 600px;
    font-size: 35px;
    font-weight: 500px;
    color: #212121;
    animation: slideLeft 2s ease;
    letter-spacing: 2px;
    transform: translateX(0px);
    gap: 5vh;
    margin-top: 5%;
    text-align: center;
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.fundo .informacoes-centrais .textoCentralHome span {
    color: green;
    font-weight: bolder;
}

.fundo .informacoes-centrais .textoCentralHome .botaoDash {
    height: 8vh;
    width: 20vw;
    border-radius: 200px;
    outline: none;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    font-family: "Pixelify Sans", sans-serif;
    background-color: #bb900e;
    cursor: pointer;
    border: 2px white solid;
}

.fundo .informacoes-centrais .textoCentralHome .botaoDash:hover {
    background-color: #e0b32c;
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fundo .flecha {
    opacity: 0;
    height: 50px;
    /* position: absolute; */
    left: 0;
    right: 0;
    margin-top: 5rem;
    bottom: -24px;
    margin: 0 auto;
    animation: slideDown 1.5s ease forwards 2s, arrowTransition 2s ease-in-out infinite 2s;
    /* user-select: none; */
}

@keyframes arrowTransition {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-16px);
    }

    100% {
        transform: translateY(0);
    }
}

#espaco {
    margin-bottom: 10%;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.meio-site .infos-stardew {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.meio-site .infos-stardew .txt-stardew {
    background-color: #f5f5f5df;
    border-radius: 20px;
    border: #ffffff 10px solid;
    height: 95%;
    padding: 20px;
    width: 25%;
}

.meio-site .infos-stardew .txt-stardew .titulo-stardew {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 2%;
    border-bottom: 5px solid green;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    bottom: -6px;
    transition: width .4s ease-in-out;

}

.meio-site .infos-stardew .txt-stardew .texto-stardew {
    font-size: 22px;
    font-weight: 700;
}

.setinha-direita {
    width: 3.5%;
    height: 95%;
}

.meio-site .infos-stardew .img-stardew {
    width: auto;
    height: 350px;
}

#divisao {
    margin-bottom: 5%;
    margin-top: 5%;
    border-bottom: #ffffff dashed 5px;
}

.meio-site #oque-fazer {
    display: flex;
    text-align: center;
    justify-content: center;
}

.meio-site #oque-fazer .oque-fazer-titulo {
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-bottom: 5%;
}

.meio-site #oque-fazer .oque-fazer-titulo span {
    color: green;
    background-color: #f5f5f5df;
    border-radius: 20px;
    padding: 3px;
}

.meio-site .pesca {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10%;
}

.meio-site .pesca .pesca-texto-img {
    background-color: #f5f5f5df;
    border-radius: 20px;
    border: #ffffff 10px solid;
    padding-top: 20px;
}

.meio-site .pesca .pesca-titulo {
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 2px;
    /* margin-bottom: 2%; */
    display: flex;
    justify-content: center;
}

.meio-site .pesca .pesca-texto {
    /* height: 430px; */
    height: 95%;
    padding: 20px;
    width: 500px;
    /* border-radius: 20px; */
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.meio-site .pesca .pesca-texto k {
    font-family: "Jersey 15", sans-serif;
    font-weight: 600;
}

.meio-site .pesca .pesca-texto span {
    color: green;
    /* background-color: #f5f5f5df; */
    /* border-radius: 20px; */
    /* padding: 3px; */
    /* font-size: 22px; */
    font-weight: 700;
    font-size: 25px;
}

.meio-site .pesca .setinha-esquerda {
    width: auto;
    height: 15rem;
}

.meio-site .pesca .pesca-img {
    height: 15rem;
    width: auto;
}

.meio-site .amizade {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10%;
}

.meio-site .amizade .amizade-textos {
    background-color: #f5f5f5df;
    border-radius: 20px;
    border: #ffffff 10px solid;
    padding-top: 20px;
}

.meio-site .amizade .amizade-titulo {
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}

.meio-site .amizade .amizade-paragrafo {
    height: 95%;
    padding: 20px;
    width: 500px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.meio-site .amizade .seta-direita {
    width: auto;
    height: 25rem;
}

.meio-site .amizade .img-amizade {
    height: 15rem;
    width: 30rem;
}

.meio-site .plantacao {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10%;
}

.meio-site .plantacao .plantacao-textos {
    background-color: #f5f5f5df;
    border-radius: 20px;
    border: #ffffff 10px solid;
    padding-top: 20px;
}

.meio-site .plantacao .plantancao-titulo {
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}

.meio-site .plantacao .plantancao-paragrafo {
    height: 95%;
    padding: 20px;
    width: 500px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.meio-site .plantacao .seta-esquerda {
    width: auto;
    height: 20rem;
}

.meio-site .plantacao .img-plantacao {
    height: 20rem;
    width: auto;
}

.meio-site .animais {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10%;
}

.meio-site .animais .animais-textos {
    background-color: #f5f5f5df;
    border-radius: 20px;
    border: #ffffff 10px solid;
    padding-top: 20px;
}

.meio-site .animais .animais-titulo {
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}

.meio-site .animais .animais-paragrafo {
    height: 95%;
    padding: 20px;
    width: 500px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.meio-site .animais .seta-direita {
    height: 15rem;
    width: auto;
}

.meio-site .animais .animais-img {
    height: 20rem;
    width: auto;
}

.meio-site .mineracao {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10%;
}

.meio-site .mineracao .mineracao-textos {
    background-color: #f5f5f5df;
    border-radius: 20px;
    border: #ffffff 10px solid;
    padding-top: 20px;
}

.meio-site .mineracao .mineracao-titulo {
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}

.meio-site .mineracao .mineracao-paragrafo {
    height: 95%;
    padding: 20px;
    width: 500px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.meio-site .mineracao .seta-esquerda {
    height: 22 rem;
    width: auto;
}

.meio-site .mineracao .mineracao-img {
    height: 25rem;
    width: auto;
}

.meio-site .explorar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10%;
}

.meio-site .explorar .explorar-textos {
    background-color: #f5f5f5df;
    border-radius: 20px;
    border: #ffffff 10px solid;
    padding-top: 20px;
}

.meio-site .explorar .explorar-titulo {
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}

.meio-site .explorar .explorar-paragrafo {
    height: 95%;
    padding: 20px;
    width: 500px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.meio-site .explorar .seta-direita {
    width: auto;
    height: 25rem;
}

.meio-site .explorar .img-explorar {
    height: 23rem;
    width: auto;
}

.desenvolvedor {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.desenvolvedor-img {
    height: 40rem;
    width: auto;
    animation: fotoDesce 4s ease-in-out infinite 2s;
    /* user-select: none; */
}

@keyframes fotoDesce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-13px);
    }

    100% {
        transform: translateY(0);
    }
}

.desenvolvedor .desenvolvedor-textos {
    background-color: #19307388;
    border-radius: 20px;
    border: #ffffff 10px solid;
    color: white;
    padding-top: 20px;
}

.desenvolvedor .desenvolvedor-textos .desenvolvedor-titulo {
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}

.desenvolvedor .desenvolvedor-textos .desenvolvedor-paragrafo {
    height: 95%;
    padding: 20px;
    width: 800px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}