@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

* {
    padding: 0%;
    margin: 0%;
    font-style: normal;
}

a {
    all: unset;
    cursor: pointer;
}

/* .setinha-direita,
.txt-stardew,
.img-stardew {
    visibility: hidden;
} */

/* .div_teste {
    height: 300px;
    width: 600px;
    background-repeat: no-repeat;
    background-size: contain;
    animation: slideRight 2s ease;
    background-image: url("../assets/Main_Logo.png");
}

.div_teste:hover {
    transform: rotate(-5deg) scale(1);
    background-image: url("../assets/Group 2.png");
} */

body {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-image: url(../assets/imagemBody.jpg);
    /* height: 950px; */

    /* Create the parallax scrolling effect */
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

::-webkit-scrollbar {
    display: none;
}

.fundo {
    background: rgb(244, 212, 151);
    background: linear-gradient(180deg, rgba(244, 212, 151, 1) 40%, rgba(182, 108, 63, 1) 71%);
    height: 730px;
    width: 100%;
    border-bottom: 10px white solid;
}

.fundo .nav {
    height: 80px;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    width: 100%;
    background: rgb(66, 36, 25);
    background: linear-gradient(90deg, rgba(66, 36, 25, 1) 7%, rgba(24, 17, 12, 1) 98%);
    /* position: fixed; */
    border-bottom: white 2px solid;
    display: flex;
    /* font-weight: 100; */
    flex-direction: row;
    align-items: center;
    color: whitesmoke;
    justify-content: space-evenly;
    animation: slideDown 2s ease;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav a {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    font-size: 25px;
    cursor: pointer;
}

.nav a::before {
    content: "";
    width: 20px;
    height: 4px;
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background: rgb(22, 153, 22);
    background: linear-gradient(90deg, rgba(22, 153, 22, 1) 36%, rgba(189, 249, 124, 1) 77%);
    position: absolute;
    bottom: -6px;
    transition: width .4s ease-in-out;
}

.nav a:hover::before {
    width: 100%;
}

.nav img {
    width: auto;
    height: 80px;
    margin-left: 7%;
    cursor: pointer;
}

.nav .nav-list {
    display: flex;
    justify-content: space-between;
    gap: 200px;
}

.nav .nav-list .login {
    display: flex;
    gap: 20px;
    margin-right: 7%;
    font-size: 30px;
}

.nav .nav-list .sobre {
    display: flex;
    gap: 100px;
    margin-right: -10%;
}

.fundo .informacoes-centrais {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    gap: 200px;
}

.fundo .informacoes-centrais .textoCentralHome {
    display: flex;
    flex-direction: column;
    width: 600px;
    font-size: 35px;
    font-weight: 500px;
    color: #212121;
    animation: slideLeft 2s ease;
    letter-spacing: 2px;
    transform: translateX(0px);
}

/* .headline{
    visibility: hidden;
} */

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.fundo .informacoes-centrais .textoCentralHome span {
    color: green;
    font-weight: bolder;
}

.fundo .informacoes-centrais .textoCentralHome k {
    color: green;
    font-weight: bolder;
}

.fundo .informacoes-centrais .imagemCentralHome {
    width: auto;
    height: 300px;
    animation: slideRight 2s ease;
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fundo .informacoes-centrais .imagemCentralHome2:hover {
    transform: rotate(-5deg) scale(1);
}

.fundo .flecha {
    opacity: 0;
    height: 70px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 24px;
    margin: 0 auto;
    animation: slideDown 1.5s ease forwards 2s, arrowTransition 2s ease-in-out infinite 2s;
    /* user-select: none; */
}

@keyframes arrowTransition {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-16px);
    }

    100% {
        transform: translateY(0);
    }
}

#espaco {
    margin-bottom: 10%;
}

.meio-site .infos-stardew {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 100px  ; */
}

.meio-site .infos-stardew .txt-stardew {
    background-color: #ffffffaa;
    border-radius: 20px;
    border: #ffffff 10px solid;
    /* height: 430px; */
    height: 95%;
    padding: 20px;
    width: 500px;
}

.meio-site .infos-stardew .txt-stardew .titulo-stardew {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 2%;
    border-bottom: 5px solid green;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    bottom: -6px;
    transition: width .4s ease-in-out;
}

.meio-site .infos-stardew .txt-stardew .texto-stardew {
    font-size: 22px;
    font-weight: 700;
}

.setinha-direita {
    width: 3.5%;
    height: 95%;
}

/* .setinha-esquerda{
    width: 3.5%;
    height: 95%;
} */

.meio-site .infos-stardew .img-stardew {
    width: auto;
    height: 350px;
}

.divisao {
    margin-bottom: 5%;
    margin-top: 5%;
    border-bottom: #ffffff dashed 5px;
}

.meio-site #oque-fazer {
    display: flex;
    text-align: center;
    justify-content: center;
}

.meio-site #oque-fazer .oque-fazer-titulo {
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-bottom: 5%;
}

.meio-site #oque-fazer .oque-fazer-titulo span {
    color: green;
    background-color: #ffffffaa;
    border-radius: 20px;
    padding: 3px;
}

.meio-site .pesca {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10%;
}

.meio-site .pesca .pesca-texto-img {
    background-color: #ffffffaa;
    border-radius: 20px;
    border: #ffffff 10px solid;
    padding-top: 20px;
}

.meio-site .pesca .pesca-titulo {
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 2px;
    /* margin-bottom: 2%; */
    display: flex;
    justify-content: center;
}

.meio-site .pesca .pesca-texto {
    /* height: 430px; */
    height: 95%;
    padding: 20px;
    width: 500px;
    /* border-radius: 20px; */
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.meio-site .pesca .pesca-texto k {
    font-family: "Jersey 15", sans-serif;
    font-weight: 600;
}

.meio-site .pesca .pesca-texto span {
    color: green;
    /* background-color: #ffffffaa; */
    /* border-radius: 20px; */
    /* padding: 3px; */
    /* font-size: 22px; */
    font-weight: 700;
    font-size: 30px;
}

.meio-site .pesca .pesca-img {
    height: 15rem;
    width: auto;
}

.meio-site .amizade {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10%;
}

.meio-site .amizade .amizade-textos {
    background-color: #ffffffaa;
    border-radius: 20px;
    border: #ffffff 10px solid;
    padding-top: 20px;
}

.meio-site .amizade .amizade-titulo {
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}

.meio-site .amizade .amizade-paragrafo {
    height: 95%;
    padding: 20px;
    width: 500px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.meio-site .amizade .seta-direita {
    width: auto;
    height: 25rem;
}

.meio-site .amizade .img-amizade {
    height: 15rem;
    width: 30rem;
}

.meio-site .plantacao {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10%;
}

.meio-site .plantacao .plantacao-textos {
    background-color: #ffffffaa;
    border-radius: 20px;
    border: #ffffff 10px solid;
    padding-top: 20px;
}

.meio-site .plantacao .plantancao-titulo{
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}

.meio-site .plantacao .plantancao-paragrafo{
    height: 95%;
    padding: 20px;
    width: 500px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.meio-site .plantacao .seta-esquerda{
    width: auto;
    height: 30rem;
}

.meio-site .plantacao .img-plantacao{
    height: 20rem;
    width: auto;
}

.meio-site .animais {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10%;
}

.meio-site .animais .animais-textos {
    background-color: #ffffffaa;
    border-radius: 20px;
    border: #ffffff 10px solid;
    padding-top: 20px;
}

.meio-site .animais .animais-titulo{
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}

.meio-site .animais .animais-paragrafo{
    height: 95%;
    padding: 20px;
    width: 500px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.meio-site .animais .seta-direita{
    height: 20rem;
    width: auto;
}

.meio-site .animais .animais-img{
    height: 20rem;
    width: auto;
}

.meio-site .mineracao{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10%;
}

.meio-site .mineracao .mineracao-textos{
    background-color: #ffffffaa;
    border-radius: 20px;
    border: #ffffff 10px solid;
    padding-top: 20px;
}

.meio-site .mineracao .mineracao-titulo{
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}

.meio-site .mineracao .mineracao-paragrafo{
    height: 95%;
    padding: 20px;
    width: 500px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.meio-site .mineracao .seta-esquerda{
    height: 30rem;
    width: auto;
}